<h1>Comics</h1>
<h2>Sometimes we create comics, find them here!</h2>


<div class="creation">
<h3>Title</h3>
  <div class="c_image">
    <img src="" />
  </div>
  <div class="c_description">
    <table>
      <tr>
        <td>Title:</td>
        <td>...</td>
      </tr>
      <tr>
        <td>Creation:</td>
        <td>dd/mm/yyyy</td>
      </tr>
      <tr>
        <td>Creator:</td>
        <td>name</td>
      </tr>
    </table>
  </div>
</div>

  <div class="creation">
  <h3>Title..</h3>
  <div class="c_image">
    image..
  </div>
  <div class="c_description">
    description..
  </div>
</div>

<div class="creation">
  <h3>Title..</h3>
  <div class="c_image">
    image..
  </div>
  <div class="c_description">
    description..
  </div>
</div>

<div class="creation">
  <h3>Title..</h3>
  <div class="c_image">
    image..
  </div>
  <div class="c_description">
    description..
  </div>
</div>
