<div *ngIf="employee" id="employeeDetails">
  <h2 title="{{employee.alt}}">{{employee.name | uppercase}}</h2>
  <table>
    <tr>
      <td>Id:</td>
      <td>{{employee.id}}</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input [(ngModel)]="employee.name" placeholder="name"/></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td>{{employee.age}}</td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>{{employee.gender}}</td>
    </tr>
    <tr>
      <td>Department:</td>
      <td>
        {{employee.department}}
      </td>
    </tr>
  </table>
</div>
