#employeeList tr:hover { cursor: pointer; background-color: #d0f2d9;}
#employeeList tr.selected { color: #336699; }

#employeeList {
float: left;
width: 30%;
position: relative;
}

#employeeDetail {
float: right;
width: 100%;
position: relative;
}
td { width: 80%;}

h2 {
  color: #369;
  font-family: 'YuseiMagic', regular;
  font-size: 150%;
}

#msgBox {
width: 100%;
}
