#employeeList tr:hover { cursor: pointer;}
#employeeList { float: left; width: 300px;}
#containerEmployee { width: 600px;}
#employeeList tr.selected { color: #336699; }
td { width: 150px;}

h2 {
  color: #369;
  font-family: 'YuseiMagic', regular;
  font-size: 150%;
}
