<div id="container">
  <div id="upperRegion">
    <div class="logo"><a href="https://thomasatwikey.github.io/tyed/docs/#/">
      {{title}}</a></div>
    <div class="menuLink" [routerLink]="'/drawings'">Drawings</div>
    <div class="menuLink" [routerLink]="'/employees'">Employees</div>
    <div class="menuLink" [routerLink]="'/invoices'">Invoices</div>
    <div class="menuLink" [routerLink]="'/web'">some item..</div>
  </div>
  <div id="lowerRegion">
    <router-outlet></router-outlet>
  </div>
</div>

