.navi { font-family: 'YuseiMagic', regular;  width: 100% }
a { text-decoration: none; color: white; }

.menuLink:hover {
color: white;
cursor: pointer;
background-color: #55ad79;
}

.menuLink:focus {
border: none;
outline: none;
}

.menuLink {
font-family: 'PottaOne', cursive;
font-weight: bold;
color: #edf2ef;
text-align: center;
width: 100px;
height: 25px;
padding-top: 10px;
padding-bottom: 10px;
padding-left:10px;
padding-right: 10px;
float: left;
}

.menuIcon {
float: left;
}

.logo {
color: white;
text-align: center;
width: 100px;
height: 25px;
padding-top: 10px;
padding-bottom: 10px;
padding-left:150px;
padding-right: 2px;
margin-right:50px;
float: left;
}

h3 {
background-color: white;
height: 30px;
margin: 0px;
padding-top:15px;
text-align: center;
opacity: 0.5;
  font-family: 'YuseiMagic', regular;
  font-size: 100%;
}


#container {
width: 100%;
}

#upperRegion {
width: 100%;
height: 45px;
background-color: #52A552;
}

#lowerRegion {
text-align: left;
width: 80%;
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
}
