.navi { font-family: 'YuseiMagic', regular;  width: 100% }
a { text-decoration: none; color: white; }

.menuLink:hover {
color: white;
cursor: pointer;
background-color: #6681b0;
}

.menuLink:focus {
border: none;
outline: none;
}

.menuLink {
font-family: 'RobotoRegular', sans-serif;
font-weight: bold;
color: #edf2ef;
text-align: center;
width: 100px;
height: 22px;
padding-top: 13px;
padding-bottom: 10px;
padding-left:10px;
padding-right: 10px;
float: left;
}

.menuLink mat-icon {
float: left;
margin-top:-2px;
}

.logo {
color: white;
text-align: center;
width: 100px;
height: 25px;
padding-top: 9px;
padding-bottom: 10px;
padding-left:150px;
padding-right: 2px;
margin-right:50px;
float: left;
}

h3 {
background-color: white;
height: 30px;
margin: 0px;
padding-top:15px;
text-align: center;
opacity: 0.5;
  font-family: 'YuseiMagic', regular;
  font-size: 100%;
}


#container {
width: 100%;
min-height: 100%;
position: relative;
}

#upperRegion {
width: 100%;
height: 45px;
background-color: #405f94;
position: fixed;
z-index:100;
display: block;
top:0;
}

#lowerRegion {
text-align: left;
width: 80%;
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
padding-bottom: 39px;
}

