<div id="container">
  <div id="upperRegion">
    <div class="logo"><a href="https://thomasatwikey.github.io/tyed/docs/#/">
      {{title}}</a></div>
    <div class="menuLink" [routerLink]="'/invoices'"><mat-icon> event_note</mat-icon> Invoices</div>
    <div class="menuLink" [routerLink]="'/callback'"><mat-icon> sync</mat-icon> Callback</div>
  </div>
  <div id="lowerRegion">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
    <table>
      <tr>
        <td><mat-icon>info</mat-icon> About us</td>
        <td><mat-icon>https</mat-icon> Legal Terms</td>
        <td><mat-icon>http</mat-icon> Webmaster</td>
      </tr>
    </table>
  </div>
</div>

