table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
  border-bottom:  1px solid #ebedeb;
}

tr.invoiceLine:hover {
  background-color: #405f94;
  cursor: pointer;
  color: white;
}
h2 {
}
#invoiceList { padding-right: 20px;}
