<div id="invoiceList">
  <h2>Invoice List</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Amount</th>
      <th>Creator id</th>
      <th>Debtor</th>
      <th>State</th>
    </tr>
    <tr class="invoiceLine" *ngFor="let invoice of invoices" (click)="onSelect(employee)" [class.selected]="invoice === selectedInvoice">
      <td>{{invoice.id}}</td>
      <td>{{invoice.title}}</td>
      <td>{{invoice.amount}}</td>
      <td>{{invoice.creatorId}}</td>
      <td>{{invoice.debtor}}</td>
      <td>{{invoice.state}}</td>
    </tr>
  </table>
</div>
