.news {
border-left: 5px solid green;
min-height: 50px;
padding-left: 10px;
float: left;
width: 400px;
margin-right: 25px;
}

.news h2 {
margin-top: 0px;
}

li {
list-style-type: circle;
font-family: 'YuseiMagic', regular;
color: #658a70;
}

h2 {
text-decoration: underline;
}
