<div id="invoiceState" *ngIf="id != undefined" name="id" ngDefaultControl>
  <h1>Invoice State</h1>
  <table>
    <tr>
      <td><mat-icon>polymer</mat-icon></td>
      <td>{{this.id}}</td>
    </tr>
    <tr>
      <td><mat-icon> title</mat-icon></td>
      <td>{{this.title}}</td>
    </tr>
    <tr>
      <td><mat-icon>payment</mat-icon></td>
      <td class="invoicestate {{state}}">{{this.state | uppercase }}</td>
    </tr>
    <tr>
      <td><mat-icon>language</mat-icon></td>
      <td>{{this.locale}}</td>
    </tr>
  </table>

</div>
