/* Application-wide Styles */
@font-face {
  /* Example:
  font-family: lato;
  src: url(assets/font/Lato.otf) format("opentype");
  */
  font-family: 1942;
  src: url(assets/fonts/1942.ttf) format("TrueTypeFont");
    font-family: YuseiMagic;
    src: url(assets/fonts/YuseiMagic.ttf) format("TrueType");
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-image: url("assets/backgrounds/darkmountain.jfif");
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

#rightRegion {
margin-left: 10px;
padding-left:25px;
float: left;
width: 70%;
background-color: white;
padding-top: 50px;
padding-bottom: 20px;
opacity: 0.9;
}

#leftRegion {
padding-left:25px;
float: left;
border-right: solid 1px gray;
padding-right: 150px;
min-height: 100%;
background-color: white;
opacity: 0.8;
}
