/* Application-wide Styles */

@font-face {
  font-family: 1942;
  src: url(assets/fonts/1942.ttf) format("TrueTypeFont");
    }

@font-face {
    font-family: YuseiMagic;
    src: url(assets/fonts/YuseiMagic.ttf) format("TrueType");
    }

@font-face {
      font-family: PottaOne;
      src: url(assets/fonts/PottaOne.ttf) format("TrueTypeFont");
        }
@font-face {
          font-family: RobotoRegular;
          src: url(assets/fonts/RobotoRegular.ttf) format("TrueTypeFont");
            }
h1 {
  color: #405f94;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #658a70;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
margin: 0px;
background-color: white;
}
html, body {
height: 95%;
margin:0;
padding:0;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.rightsFooter {
color: gray;
font-size: 10px;
}

#footer {
width: 100%;
min-height: 40px;
bottom: 0;
background-color: #f0f0f0;
position: absolute;

}

#footer table {
margin-left: 150px;
color: #405f94;
}
#footer td {
padding-top: 10px;
width: 200px;
font-size: 15px;
}

#footer mat-icon {
float: left;
padding-right:2px;
margin-top: -3px;
}

h4 mat-icon {
color: #e8df5a;
float: left;
padding-right: 2px;
margin-top: -7px;

}

h4 {
border: solid 1px #cdfadb;
min-height: 25px;
border-radius: 10px;
width: 50%;
padding-left: 5px;
padding-top: 10px;
background-color: #cdfadb;
font-size: 15px;
color: #8c918d;
margin-top: 25px;
}
