<ng-container *ngFor="let Collection of collectionItem">
<div *ngIf="Collection.category == this.url" class="creation">
  <h3>{{Collection.title}}</h3>
  <div class="c_image">
    <img src="assets/{{this.url}}/{{Collection.filename}}" />
    <div class="rightsFooter">Copyright © 2021 Thomas Bée, All rights reserved.</div>
  </div>
  <div class="c_description">
    <table>
      <tr>
        <td><mat-icon> title</mat-icon></td>
        <td>{{Collection.title}}</td>
      </tr>
      <tr>
        <td><mat-icon>date_range</mat-icon></td>
        <td>{{Collection.createDate}}</td>
      </tr>
      <tr>
        <td><mat-icon>person</mat-icon></td>
        <td>{{Collection.creator}}</td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon> category</mat-icon></td>
        <td>
          <div class="tag">{{Collection.form}}</div>
          <div class="tag">{{Collection.type}}</div>
          <div class="tag">{{Collection.subForm}}</div>
        </td>
      </tr>
    </table>
  </div>
</div>
</ng-container>
