.c_image, c_description {
float: left;
width: 50%;
position: relative;
}

h2 {
margin-bottom:75px;}

.creation {
margin-top: 30px;
min-height: 500px;
position: relative;
padding-bottom: 25px;
border-bottom: 1px solid #55ad79;
}

.c_image img {
width: 100%;
}

.c_description table {
padding-left: 2%;
width: 35%;
  color: #658a70;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.c_description td {
padding: 1%;
text-align: left;
}
.tag {
float: left;
padding: 5px;
margin-right: 5px;
border: solid 1px gray;
border-radius: 5px;
min-width: 50px;
text-align: center;
color: gray;
font-size: 15px;
margin-top:20px;
box-shadow: -2px 6px;
}


